# Ignore logs and temp directories
logs/
temp/
visualizations/

# Database files
airflow.db
*.db

# Python cache files in src and dags
src/**/__pycache__/
dags/**/__pycache__/
*.pyc
*.pyo
*.pyd

# Init files in src and dags
src/**/__init__.py
dags/**/__init__.py

# Environment and IDE files
.env
.idea/
.vscode/
venv/
